nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 4vh;
  padding: 1rem 2rem;
  background-color: #0c0c28;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h1 {
  color: white;
  font-size: 2rem;
  display: flex;
}
nav #links {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav #links span {
  text-decoration: none;
  color: white;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
}