#profile-page, #profile-page * {
  margin: 0;
  padding: 0;
}

#profile-page {
  height: 91vh;
  display: flex;
  align-items: center;
}
#profile-page #loading {
  width: 100%;
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile-page #loading h1 {
  font-size: 3rem;
}
#profile-page #profile-card {
  background-color: #9ceafd;
  width: 30%;
  max-width: 300px;
  height: 92%;
  margin: 0 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
#profile-page #profile-card #profile-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 17%;
}
#profile-page #profile-card #profile-img-container img {
  width: 80%;
  z-index: 3;
}
#profile-page #profile-card #profile-img-container::before {
  content: "";
  background-color: white;
  aspect-ratio: 1/1;
  width: 83%;
  border-radius: 50%;
  position: absolute;
}
#profile-page #profile-card #user-info {
  padding-top: 20px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#profile-page #profile-card #user-info h2 {
  font-size: 1.8rem;
  padding-bottom: 8px;
}
#profile-page #profile-card #user-info p {
  display: inline-block;
  font-size: 1rem;
}
#profile-page #profile-card #delete-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25%;
  position: relative;
  transform: translateY(-20px);
}
#profile-page #profile-card #delete-account p {
  color: #ff1414;
  font-size: 0.9rem;
  margin-bottom: 8px;
  text-align: center;
  padding: 0 10px;
}
#profile-page #profile-card #delete-account button {
  border: none;
  background-color: #ff1414;
  font-size: 0.8rem;
  color: white;
  padding: 0.6rem;
  border-radius: 10px;
  cursor: pointer;
}
#profile-page #user-work-area {
  flex: 1;
  margin-right: 20px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(4, 260px);
  row-gap: 25px;
  height: 92%;
  overflow-y: scroll;
}
#profile-page #user-work-area .work-card {
  border-radius: 5px;
  max-height: 300px;
  padding: 25px 20px;
  position: relative;
  display: flex;
  align-items: center;
}
#profile-page #user-work-area .work-card h2 {
  font-size: 20px;
  font-weight: 400;
  color: rgb(89, 89, 89);
}
#profile-page #user-work-area .work-card h2 span {
  font-size: 22px;
  font-weight: 600;
  color: black;
}
#profile-page #user-work-area .work-card p {
  margin-top: 10px;
  font-size: 15px;
  text-transform: capitalize;
}
#profile-page #user-work-area .work-card svg {
  position: absolute;
  top: 8px;
  right: 10px;
  height: 1.9em;
  cursor: pointer;
}
#profile-page #user-work-area .work-card .card-buttons {
  display: none;
}
#profile-page #user-work-area .work-card .options-button:focus + .card-buttons {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  right: 25px;
  top: 5%;
  width: 40%;
  height: 90%;
  max-height: 110px;
  bottom: 5px;
  border-radius: 15px;
  background-color: white;
  border: 2px solid;
}
#profile-page #user-work-area .work-card .options-button:focus + .card-buttons button {
  border: none;
  border-radius: 5px;
  background-color: white;
  text-transform: capitalize;
  cursor: pointer;
}
#profile-page #user-work-area .work-card .options-button:focus + .card-buttons button.delete-card {
  color: #ff1414;
}

@media only screen and (max-width: 1400px) {
  #profile-page #user-work-area {
    grid-template-columns: repeat(3, 260px);
  }
}
@media only screen and (max-width: 1160px) {
  #profile-page #user-work-area {
    grid-template-columns: repeat(2, 45%);
  }
}
@media only screen and (max-width: 830px) {
  #profile-page #user-work-area {
    grid-template-columns: repeat(1, 90%);
  }
}