@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=DM+Serif+Display&display=swap');

* {
  margin: 0;
  padding: 0;

  font-family: 'ADLaM Display', cursive;
}
*::-webkit-scrollbar{
  display: none;
}

:root {
  background-color: #e0e0e0;
}
