@mixin flexCenter () {
  display: flex;
  align-items: center;
}

nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 4vh;
  padding: 1rem 2rem;

  background-color: #0c0c28;

  h1 {
    color: white;
    font-size: 2rem;
    display: flex;
  }

  @include flexCenter();
  justify-content: space-between;


  #links {
    @include flexCenter();
    gap: 20px;

    span {
      text-decoration: none;
      color: white;
      display: inline-block;
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}